// * colors
$color-grey: #808285;
$color-grey-light: #F6F6F6;
$color-yellow: #F8C84E;
$color-green: #007934;

$color-map: (
    grey: $color-grey,
    yellow: $color-yellow,
    green: $color-green,
);

@each $name, $color in $color-map {
    .text-#{"" + $name} {
        color: $color;
    }
    .bg-#{"" + $name} {
        background-color: $color;
    }
}
